.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  @include transition;
  
  &-primary {
    background-color: $primary-color;
    color: white;
    
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
  
  &-secondary {
    background-color: $secondary-color;
    color: white;
    
    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
  
  &-success {
    background-color: $success-color;
    color: white;
    
    &:hover {
      background-color: darken($success-color, 10%);
    }
  }
  
  &-danger {
    background-color: $danger-color;
    color: white;
    
    &:hover {
      background-color: darken($danger-color, 10%);
    }
  }
}
