// Basic reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {

}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $primary-color;
  
  &:hover {
  
  }
}

ul, ol {
  list-style: none;
}
