// Colors
$main-text: #212121;
$body-bg: #ffffe3;
$card-bg: #212121;
$card-text: #ffffe3;

// Typography
$font-secondary: 'Plus Jakarta Sans', sans-serif;
$font-primary: 'Zodiak', serif;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-tablet: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1400px;
